.app {
    margin: 6px;
    padding: 6px;
    border-radius: 8px;
    background-color: #a2d2ff;
    box-shadow: black 2px 2px 4px;
    max-width: 50%;
    box-sizing: border-box;
    float: left;
    width: 50%;
    font-family: 'Roboto Condensed', sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
}

.old {
    margin: 6px;
    padding: 6px;
    border-radius: 8px;
    background-color: #a2d2ffcb;
    box-shadow: black 2px 2px 4px;
    max-width: 50%;
    box-sizing: border-box;
    float: left;
    width: 50%;
    font-family: 'Roboto Condensed', sans-serif;
}

#svp {
    float: left;
    width: 100%;
    box-sizing: border-box;
    max-width: fit-content;
    background-color: #85c4ff;
}

button {
    background-color: #ffafcc;
    box-shadow: black 2px 2px 4px;
    color: white;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
    padding: 2px 4px;
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
}

button:hover {
    background-color: #ffc8dd;
    box-shadow: black 2px 2px 4px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
    padding: 2px 4px;
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
}

button:active {
    background-color: #ffc8dd;
    box-shadow: none;
    font-family: 'Roboto Condensed', sans-serif;

}

h2 {
    text-align: left;
    margin: 2px;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
}

h2#cent {
    text-align: center;
    margin: 2px;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    text-align: center;
    margin: 2px;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    text-align: center;
    margin: 2px;
    font-size: 4em;
}
#bold {
    background-color: #cdb4db;
}

#bnew {
    background-color: #ffc8dd;
}

html {
    background-color: #bde0fe;
    font-family: 'Dosis', sans-serif;
    color: white;
}

hr {
    border: none;
    border-bottom: rgba(255, 255, 255, 0.659) 2px dashed;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

#info {
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 4px;
    right: 4px;
    display: block;
    font-size: 20px;
  }