html {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

button {
    width: 100px;
    height: 50px;
}



button.wp1 {
    width: 200px;
    height: 75px;
}


button.wp2 {
    width: 200px;
    height: 75px;
}


button.wp3 {
    width: 200px;
    height: 75px;
}


button.up1 {
    width: 200px;
    height: 75px;
}

