#st {
    background-color: greenyellow;
    color: rgb(88, 161, 92);
}

#op {
    background-color: red;
    color: rgb(119, 42, 42);
}

#pa {
    background-color: yellow;
    color: rgb(199, 199, 58);
}

#de {
    background-color: rgb(207, 207, 207);
    color: rgb(107, 107, 107);
}