html {
    background-color: rgb(68, 47, 68);
    font-family: Verdana, Virus Made By Babis, Tahoma, sans-serif;
    color: white;
}

button {
    color: purple;
    background-color: rgba(179, 179, 179, 0.747); 
    width: 25px;
    height: 25px;
}
