html {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, #f00, #ff0, #09ff00, rgb(0, 238, 255), #2f00ff, #ff00c8);
}

canvas {
    border: black 2px solid;
    box-shadow: black 4px 4px 8px;
}

select {
    background-color: blueviolet;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-bottom: 1px black solid;
}