html {
    background-color: yellow;
    color: yellowgreen;
    font-size: 0.05cm;
}
h1 {
    color: red;
    background-color: yellow;
    font-size: 2cm;
    cursor: pointer;
}
h2 {
    background-color: yellow;
    font-size: 1cm;
    cursor: pointer;
    color: red;
}