html {
    background-color: ghostwhite;
    color: rgb(57, 107, 199);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td, tr {
    border: 2px rgb(194, 194, 194) solid;
}

button {
    background-color: rgb(226, 226, 226);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 10px;
}